body{
    /* background-color: ; */
    background-image: url("https://assets-global.website-files.com/62aa5d3f408f1681bc0ddb81/634debf9dbc10463727d4d14_20221016_KE_019037.jpg");
    
    background-position: center; 
    background-size: cover;
    
    
   /* Resize the background image to cover the entire container */
  

}
h1{
  color:#8B0000;
}
h2{
  color:#8FBC8F;
}

p{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
table{
  background-color: honeydew;
  border: 2px solid black;
}
form{
  background-color:#FFE4E1;
  border: 5px solid white;
  width: 300px;
  padding: 10px;
}

